@font-face {
    font-family: terminus1;
    src: url(/fonts/TerminusRe33-Bold.ttf);
}

@font-face {
    font-family: terminus2;
    src: url(/fonts/TerminusTTF-4.38.2.ttf);
}

body {
    background-color: #000000;
    color: #BBBBBB;
    font-family: terminus1;
/*    font-family: Arial,Helvetica,sans-serif; */
    margin: 12px 0px;
}

.header, .wrapper, .footer {
    max-width: 800px;
    text-align: left;
    margin: 0px auto;
}

.wrapper {
    border-left-style: dashed;
    border-right-style: dashed;
    border-width: 1px;
    border-color: #333333;
    padding: 0px 50px;
}

/*.footer a {
    white-space:nowrap;
} */

form.search {
    /*padding: 6px 8px 6px 35px;
    margin-right: 5px;
    margin-top: -10px;*/
    padding: 10px;
    margin: 5px;
    float: right;
}

form.search p {
    display: inline;
}

form.search input[type="text"] {
    font: bold 12px Arial,Helvetica,Sans-serif;
    width: 140px;
    height: 20px;
    padding: 3px 12px;
    margin-top: -3px;
}

h1 {
    display: inline-block;
    width: 100%;
}

h1>a.edit {
    float: right;
    text-decoration: none;
    font-size: 50%;
    font-weight: normal;
    color: #DDDDDD;
    padding: 8px;
}

a {
    color: #EEEEEE;
    text-decoration: none;
    font-family: terminus1;
/*    font-family: "Lucida Console", Monaco, monospace; */
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.header .gotobar {
    font-family: terminus1;
    line-height: 50px;
/*    font-family: Arial,Helvetica,sans-serif; */
}


.header>h1 {
    margin-top: 32px;
    margin-bottom: 4px;
    position: inherit;
    font-weight: normal;
}

div.page h1 {
    margin: 0px 3px;
    font-size: 28px;
}

strong, th, h1, h2, h3, h4 {
    font-weight: normal;
}

h3 {
    margin-top: 28px;
    font-weight: normal;
}

.gotobar a {
    font-family: terminus1;
    font-size: 16px;
    padding: 14px;
    margin: 0px;
    font-weight: normal;
    white-space: nowrap;
}

.footer .edit a {
    margin-right: 25px;
}

.header .gotobar a:hover {
    text-decoration: none;
    outline: #BBBBBB solid 1px;
}

.local {
    height: 100%;
}

input, textarea {
    color: #BBBBBB;
    background-color: #111111;
    border-style: solid;
    border-color: #666666;
    border-width: 1px;
    font-family: terminus1;
/*    font-family: Arial,Helvetica,sans-serif; */
}
/*
.header form input {
    font-size: 18px;
    background-color: #EAEAEA;
    border-color: #BBBBBB;
    padding: 0px;
    border-radius:1px;
} */

.footer span.edit a {
    margin-right: 25px;
}

.footer br {
    margin-bottom: 5px;
}

input {
    font-size:95%;
}

table.user {
    border-collapse: collapse;
}

table.user tr td {
    border: 1px solid #777777;
    padding: 3px;
    margin: 0px;
}

.homepage {
    display: none;
}

a.number {
    font-size: 60%;
    vertical-align: top;
}

li {
    margin: 4px 0px;
}

p.comment {
    margin: 50px 0px 0px 0px;
}

div.page p.comment {
    margin: 0px 0px 0px 0px;
}

.footer>form.search, div.footer span.gotobar, div.footer span.edit>br {
    display:none;
}

strong {
    text-shadow: -1px 0px 0px;
}

code {
    font-size: 16px;
    font-family: terminus1;
/*    font-family: "Lucida Console", Monaco, monospace;*/
}

.rc>p a {
    padding: 0px 10px;
}

div.page {
    /*background-color: #0B0B0B;*/
    border-color: #BBBBBB;
    border-bottom-style: double;
    border-width: 3px;
    padding: 0px;
    padding-bottom: 70px;
    margin: 20px 0px 70px 0px;
    font-size: 100%;
/*    font-weight: bold;*/
}

div.page:last-child {
    border-bottom-style: none;
    padding-bottom: 0px;
    margin-bottom: 30px;
}

/*div.page>hr {*/
div.page>.userComment {
    counter-increment: commentscount;
}

div.page p.comment:after {
    content: " (" counter(commentscount) ")";
}

/*div.page>hr , div.page>hr:first-of-type~*:not(.comment) { */
div.page>.userComment, div.page>#commentsHeading {
    visibility: hidden;
    position: absolute;
    top: -9999px;
    left: -9999px;
}

#commentsHeading {
    margin-top: 50px;
}

.userComment {
    background-color: #202020;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 35px;
    margin-bottom: 35px;
    width: 70%;
    border-radius: 3px;
}

.more {
    margin-top: 6px;
    margin-bottom: 35px;
}

.logo {
    display: inline;
}

/* */

#aftertext {
    width: 500px;
    height: 120px;
}

img {
    max-width:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.foo_stupi {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: black;
    font-smooth: never;
    -webkit-font-smoothing : none;

    border-style: solid;
    border-width: 63px 19px 18px 205px;
    -moz-border-image: url(stupidity.png) 63 19 18 205 repeat;
    -webkit-border-image: url(stupidity.png) 63 19 18 205 repeat;
    -o-border-image: url(stupidity.png) 63 19 18 205 repeat;
    border-image: url(stupidity.png) 63 19 18 205 fill repeat;
}

.foo_dity {
    margin: -30px 0 -15px -200px;
    white-space: pre;
}

.foo_white img {
    background-color: #FFFFFF;
}

.foo_titletext {
    text-decoration-line: underline;
    text-decoration-style: dashed; /* does not work in othor browsers yet (except Firefox) */
    -moz-text-decoration-line: underline;
    -moz-text-decoration-style: dashed;
}

.old, .diffactionold, .updaterold {
    background-color: #371111;
}

.new, .diffactionnew, .updaternew {
    background-color: #113711;
}
